.adminNav {
  position: fixed;
  width: 75%;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  display: flex;
  align-items: center;
  left: 25%;

  height: 80px;
  background-color: #ffffff;
  .container {
    .detskopMenu {
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      ul {
        display: flex;
        align-items: center;

        gap: 50px;

        li {
          a {
            font-weight: bold;
          }

          transition: 350ms;
        }

        li:hover {
          color: #384aeb;
        }

        select {
          border: none;
          font-size: 16px;
        }
      }
      .buttonMenu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        .navBtn {
          background-color: #ffffff;
          color: #000000;

          border: 1px solid #eeeeee;
          a {
            font-weight: bold;
          }
        }
        .navBtn:hover {
          background-color: transparent;
          transition: 600ms;
          border: 1px solid #3e4fea;
          color: #000000;
          font-weight: bold;
        }
      }
    }

    .mobilMenu {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .adminNav {
    .container {
      .detskopMenu {
        display: none;
      }

      .mobilMenu {
        height: 20px;
        display: block;
        .navBrandContainer {
          display: flex;
          justify-content: space-between;
          i {
            font-size: 24px;
            color: #3e4fea;
          }
        }
        .mobilList {
          // display: none;
          height: 0px;
          overflow: hidden;
          transition: 500ms;
          ul {
            display: flex;

            flex-direction: column;

            li {
              a {
                font-weight: bold;
              }

              transition: 350ms;
            }

            li:hover {
              color: #384aeb;
            }

            select {
              border: none;
              font-size: 16px;
            }
          }
          .buttonMenu {
            display: flex;
            align-items: center;
            gap: 20px;
            .navBtn {
              background-color: #ffffff;
              color: #000000;
              border: 1px solid #eeeeee;
              transition: 600ms;
              a {
                font-weight: bold;
              }
            }
            .navBtn:hover {
              background-color: transparent;

              border: 1px solid #3e4fea;
              color: #000000;
              font-weight: bold;
            }
          }
        }
        .list {
          //transition: 500ms;
          // display: block;
          //height: auto;
          height: 150px;
          background-color: #ffffff;
        }
      }
    }
  }
}


.navLeft{
    padding: 40px 10px;
    color: #ffffff;
    font-weight: 600;
    width: 25%;
   // background-color: #000000;
   background: #536976;  /* fallback for old browsers */
   background: #4b6cb7;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   

    height: 100vh;
    position: fixed;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    ul{
        color: #ffffff;
        li{
            margin: 20px 0;
        }
    }
    h2{
        font-family: "Oswald","sans-serif";
        font-size: 24px;
       
    }
}

.cardContainer{
    padding: 0 30%;
}

.cardContainer{
    margin: 0 auto;
    width: 100%;
    table ,th,td{
  padding: 10px;
      border: 2px solid #384aeb;
      border-collapse: collapse;
     
    
    
     
    }
    
  }
  
  .bg{
    background-color: yellow;
    border:2px solid goldenrod;
    border-radius: 8px;
  }
  
  .btnClick{
    margin-top: 2px;
    color: aliceblue;
    background-color: goldenrod;
    border-radius: 3px;
    //border: none;
    border-color: rgb(197, 197, 16);
    padding: 3px;
  }
  
  .editBtn{
    //margin-top: 2px;
    color: aliceblue;
    background-color: #4b9b37;
    border-radius: 5px;
   // border: none;
    border-color: #4b9b37;
    padding: 3px;
  }
  
  .deleteBtn{
  
    color: brown;
    background-color: transparent;
   
    border: none;
    i{
        font-size: 24px;
      
    }
  
   
  }

 thead {
    th{
        font-weight: bold;
    }
 }



 .formContainer{
    form{
        padding: 0 30%;
        width: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
 }

