main {
  padding-top: 80px;

  // mainHeroSection start
  #mainHeroSection {
    //  height: 100vh;
    // background-color: red
    // opacity: 0.8;

    background-image: linear-gradient(
      to right,
      #384aeb 35%,
      #384aeb 25%,
      #f1f6f7 25%,
      #f1f6f7 25%
    );

    // yedek color #eceff0
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .mainHeroImg {
        width: 40%;
        height: 100%;
      }

      .mainHeroContent {
        width: 55%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h4 {
          color: #555555;
          font-size: 30px;
        }

        h2 {
          color: #222222;
          font-size: 50px;
          font-weight: bold;
        }

        p {
          font-size: 15px;
          color: #777777;
        }
      }
    }
  }

  // mainHeroSection responsivlik start
  @media screen and (max-width: 768px) {
    #mainHeroSection {
      .container {
        .mainHeroContent {
          gap: 10px;

          h4 {
            font-size: 29px;
          }

          h2 {
            font-size: 30px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 542px) {
    #mainHeroSection {
      //  height: 100vh;
      // background-color: red
      // opacity: 0.8;

      background-image: linear-gradient(
        to right,
        #384aeb 10%,
        #384aeb 10%,
        #eceff0 10%,
        #eceff0 10%,
        #384aeb 10%,
        #384aeb 10%,
        #eceff0 10%,
        #eceff0 10%,
        #eceff0 10%,
        #eceff0 10%
      );

      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .mainHeroImg {
          display: none;
        }

        .mainHeroContent {
          padding: 0 0 0 20px;
          width: 85%;
          margin: auto;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          gap: 20px;

          h4 {
            color: #555555;
            font-size: 30px;
          }

          h2 {
            color: #222222;
            font-size: 25px;
            font-weight: bold;
          }

          p {
            font-size: 15px;
            color: #777777;
          }
        }
      }
    }
  }

  // mainHeroSection end

  // mainCarusel
  #mainCarusel {
    padding: 10px 0;

    .mainCaruselContainer {
      // // display: flex;
      // // align-items: center;
      // // justify-content: space-between;

      // gap: 10px;

      .card {
        margin: 0 10px;
        position: relative;

        .hoverProductName {
          position: absolute;

          bottom: 0;
          background-color: #ffffffcc;
          //background-color: red;
          height: 0;
          width: 100%;
          overflow: hidden;
          transition: 500ms;

          div {
            padding: 10px 0;
            margin-top: 50%;
            color: #ffffff;

            width: 60%;
            background-color: #384aeb;

            p {
              font-size: 20px;
              font-weight: 400;
              font-family: "Oswald", sans-serif;
              margin: 5px 0 10px 20px;
            }

            span {
              margin-left: 20px;
              font-size: 13px;
            }
          }
        }
      }

      .card:hover {
        .hoverProductName {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 855px) {
    #mainCarusel {
      .mainCaruselContainer {
        #three {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: 542px) {
    #mainCarusel {
      .mainCaruselContainer {
        #three {
          display: none;
        }

        #two {
          display: none;
        }
      }
    }
  }

  // mainCarusel end

  // trendingProduct
  #trendingProduct {
    background-color: #fdfdfd;
    padding: 10px 0;

    .container {
      .trendingProductHeading {
        padding: 20px 0px;
        width: 250px;

        h2 {
          font-size: 36px;
          font-weight: 600;
          font-family: "Oswald", "sanf-serif";
        }

        p {
          font-size: 14px;
          color: #7b7b7b;
        }

        hr {
          border: 1px solid #384aeb;
          width: 80px;
          height: 1px;
          float: right;
        }
      }

      .trendingProductContainer {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10px;

        .cardTrend {
          .productImgDiv {
            position: relative;

            .hoverProductBasket {
              position: absolute;

              bottom: 0;
              background-color: #ffffffcc;
              //background-color: red;
              height: 0;
              width: 100%;
              overflow: hidden;
              transition: 500ms;
              display: flex;
              align-items: center;
              justify-content: center;

              .productBasketBox {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #ffffff;
                gap: 10px;
                div {
                  background-color: #8894ff;
                  // background-color: #ff0000cc;
                  i {
                    padding: 10px;
                    color: #ffffff;
                  }
                }
                div:hover {
                  // background-color: #ff0000

                  background-color: #384aeb;
                }

                .addWish {
                  // background-color: #8894FF;
                  background-color: #ff0000cc;
                }
                .addWish:hover {
                  background-color: #ff0000;

                  // background-color: #384AEB;
                }

                .removeWish {
                  background-color: #8894ff;
                  // background-color: #ff0000cc;
                  i {
                    padding: 10px;
                    color: #ffffff;
                  }
                }
                .removeWish:hover {
                  // background-color: #ff0000

                  background-color: #384aeb;
                }
              }
            }
          }
          .productNameDiv {
            padding: 10px 0;
            text-align: center;
            color: #7b7b7b;

            h4 {
              margin: 10px 0;
              color: #000000;
              a {
                font-family: "Oswald", "sans-serif";
                font-size: 20px;
              }
            }
            h4:hover {
              color: #384aeb;
            }

            span {
              font-family: "Roboto";
              font-size: 18px;
              font-weight: 500;
              color: #777777;
            }
          }
        }

        .cardTrend:hover {
          .hoverProductBasket {
            height: 80px;
            width: 100%;
          }
        }
      }
    }
  }

  @media screen and (max-width: 855px) {
    #trendingProduct {
      padding: 10px 0;
      .container {
        .trendingProductContainer {
          grid-template-columns: auto auto;
          .cardTrend {
            .productImgDiv {
              img {
                width: 100%;
                aspect-ratio: 1/1;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 542px) {
    #trendingProduct {
      padding: 10px 10px;
      .container {
        .trendingProductContainer {
          grid-template-columns: auto;
          .cardTrend {
            .productImgDiv {
              img {
                width: 100%;
                aspect-ratio: 1/1;
              }
            }
          }
        }
      }
    }
  }

  // trendingProduct end

  // bestSellers
  #bestSellers {
    background-color: #fdfdfd;
    padding: 10px 0;

    .container {
      .bestSellersHeading {
        padding: 20px 0px;
        width: 180px;

        h2 {
          font-size: 36px;
          font-weight: 600;
          font-family: "Oswald", "sanf-serif";
        }

        p {
          font-size: 14px;
          color: #7b7b7b;
        }

        hr {
          border: 1px solid #384aeb;
          width: 80px;
          height: 1px;
          float: right;
        }
      }

      .bestSellersContainer {
        display: grid;

        .cardTrend {
          margin: 0 10px;
          .productImgDiv {
            img {
              width: 100%;
              aspect-ratio: 1/1;
            }
            position: relative;

            .hoverProductBasket {
              position: absolute;

              bottom: 0;
              background-color: #ffffffcc;
              //background-color: red;
              height: 0;
              width: 100%;
              overflow: hidden;
              transition: 500ms;
              display: flex;
              align-items: center;
              justify-content: center;

              .productBasketBox {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #ffffff;
                gap: 10px;

                i {
                  padding: 10px;
                  background-color: #8894ff;
                }

                i:hover {
                  background-color: #384aeb;
                }
              }
            }
          }
          .productNameDiv {
            padding: 10px 0;
            text-align: center;
            color: #7b7b7b;

            h4 {
              margin: 10px 0;
              color: #000000;
              a {
                font-family: "Oswald", "sans-serif";
                font-size: 20px;
              }
            }
            h4:hover {
              color: #384aeb;
            }

            span {
              font-family: "Roboto";
              font-size: 18px;
              font-weight: 500;
              color: #777777;
            }
          }
        }

        .cardTrend:hover {
          .hoverProductBasket {
            height: 80px;
            width: 100%;
          }
        }
      }
    }
  }

  // bestSellers end

  // percentSection start
  #percentSection {
    padding: 100px 0;

    background-image: url("../imgs/parallax-bg.png.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    h2 {
      margin: 0 0 25px;
      font-size: 50px;
      font-weight: bold;
    }

    h4 {
      font-family: "Oswald", sans-serif;
      margin: 0 0 8px;
      font-size: 30px;
      color: #222222;
      font-weight: bold;
    }

    p {
      margin: 0 0 16px;
      font-size: 15px;
      color: #777777;
    }
  }

  @media screen and (max-width: 768px) {
    #percentSection {
      text-align: center;

      h2 {
        font-size: 35px;
      }
    }
  }

  // percentSection end
}


.pageNotification {
  padding: 25px 0;
  background-color: #eff5f8;
  text-align: center;
  p {
    font-weight: bold;
    span {
      
      font-weight: bold;
      color: #384aeb;
      font-family: "Oswald", "sans-serif";
    
    }
  }
}