#singleProduct {
    .pageNotification {
        padding: 25px 0;
        background-color: #eff5f8;
        text-align: center;
        p {
          font-weight: bold;
          span {
            font-weight: 500;
            color: #384aeb;
          }
        }
      }
  .container {
   
    .productDetails {
      margin: 40px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .productImageArea {
        width: 50%;
        img {
          width: 100%;
          aspect-ratio: 1/1;
        }
      }
      .productDescriptonArea {
        width: 40%;

        .productDescripton {
          display: flex;
          flex-direction: column;
          gap: 20px;
          h3 {
            font-size: 24px;
            font-family: "Oswald", "sans-serif";
            font-weight: bold;
          }
          .productCategory {
            color: #807777;
            font-size: 14px;
          }
          .rating {
            color: #e3c01c;
          }
          .productPrice {
            p {
              font-size: 24px;
              font-weight: 600;
              color: #384aeb;
              span {
                color: #807777;
                font-size: 20px;
                font-weight: 500;
                text-decoration: line-through;
              }
            }
          }
          .productInformation {
            color: #807777;
          }
          hr {
            border: 1px solid #dee2e6;
          }
          .productButton {
            color: #807777;

            display: flex;
            gap: 10px;
            align-items: center;
            input {
              text-align: center;
              height: 30px;
              border: 1px solid #dee2e6;
              border-radius: 5px;
            }
            p {
              font-size: 16px;
            }
            i {
               padding: 15px;
                background-color:#E8F0F2 ;
                color: #000;
                border-radius: 5px;
                
            }
          }
        }
      }
    }
    .comments_specification {
      border: 2px solid #eff5f8;
      .comments_specification_heading {
        padding: 15px 0;
        background-color: #eff5f8;
        display: flex;
        justify-content: center;
        gap: 20px;
        p {
          font-family: "Oswald", "sanf-serif";
          transition: 500ms;
        }
        p:hover {
          color: #384aeb;
        }
      }
      .comments_specification_content {
        .specification {
          ul {
            padding: 10px 20px;
            li {
              padding: 10px 0;
              display: flex;
              justify-content: space-between;
              border-bottom: 1px solid #dee2e6;
              p,
              span {
                color: #807777;
                font-family: "Oswald", "sanf-serif";
              }
            }
          }
        }
        .comments {
            display: none;
          padding: 10px 20px;
          form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            p {
              font-family: "Oswald", "sanf-serif";
            }
            input {
              height: 30px;
              border: 1px solid #dee2e6;
              width: 60%;
            }
            button {
              border: none;
              height: 38px;
              width: 154px;
            }
          }
          .productComments {
            margin: 15px 0;
            .person {
              display: flex;
              align-items: center;
              gap: 10px;
              p {
                font-size: 16px;
                font-family: "Oswald", "sanf-serif";
              }
              span {
                font-size: 13px;
                font-family: "Oswald", "sanf-serif";
                color: #807777;
              }
            }
            .prodcutComments {
              color: #807777;
            }
            .reply {
              border: 1px solid #807777;
              width: 100px;
              height: 30px;
              border-radius: 10px;
              text-align: center;
              padding: 5px 0;
              i {
                color: #384aeb;
              }
            }
          }
          hr {
            border: 1px solid #384aeb;
          }
        }
      }
    }
   
  }
}
