.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  display: flex;
  align-items: center;

  height: 80px;
  background-color: #ffffff;
  .container {
    .detskopMenu {
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      ul {
        display: flex;
        align-items: center;
       
        gap: 50px;

        li{
          a{
            font-weight: bold;
          }
         
          transition: 350ms;
        }

        li:hover{
          color: #384aeb;
          

        }

        select {
          border: none;
          font-size: 16px;
        }
      }
      .buttonMenu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        .navBtn {
          background-color: #ffffff;
          color: #000000;
          
          border: 1px solid #EEEEEE;
          a{
            font-weight: bold;
          }
        }
        .navBtn:hover {
          background-color: transparent;
          transition: 600ms;
          border: 1px solid #3e4fea;
          color: #000000;
          font-weight: bold;
        }
      }
    }

    .mobilMenu {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    
    .container {
      .detskopMenu {
        display: none;
      }

      .mobilMenu {
        height: 20px;
        display: block;
        .navBrandContainer {
          
          display: flex;
          justify-content: space-between;
          i {
            font-size: 24px;
            color: #3e4fea;
          }
        }
        .mobilList {
          // display: none;
          height: 0px;
          overflow: hidden;
          transition: 500ms;
          ul {
            display: flex;
           
            flex-direction: column;
           
    
            li{
              a{
                font-weight: bold;
              }
             
              transition: 350ms;
            }
    
            li:hover{
              color: #384aeb;
              
    
            }
    
            select {
              border: none;
              font-size: 16px;
            }
          }
          .buttonMenu {
            display: flex;
            align-items: center;
            gap: 20px;
            .navBtn {
              background-color: #ffffff;
              color: #000000; 
              border: 1px solid #EEEEEE;
              transition: 600ms;
              a{
                font-weight: bold;
              }
            }
            .navBtn:hover {
              background-color: transparent;
             
              border: 1px solid #3e4fea;
              color: #000000;
              font-weight: bold;
            }
          }
        }
        .list {
           //transition: 500ms;
          // display: block;
          //height: auto;
          height: 150px;
          background-color: #ffffff;
        }
      }
    }
  }
}
