@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Roboto:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol,
li,
a {
  list-style: none;
  color: inherit;
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0px;
}

.btn {
  transition: 600ms;
  height: 48px;
  width: 154px;
  border-radius: 30px;
  background-color: #384AEB;
  border: 1px solid #384AEB;
  color: #ffffff;
}

.btn:hover {
  background-color: transparent;
  transition: 600ms;
  border: 1px solid #384AEB;
  color: #000000;
  font-weight: bold;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  border-bottom: 2px solid gray;
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #ffffff;
}
.navbar .container .detskopMenu {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .container .detskopMenu ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar .container .detskopMenu ul select {
  border: none;
  font-size: 16px;
}
.navbar .container .detskopMenu .buttonMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.navbar .container .detskopMenu .buttonMenu .navBtn {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  border: 2px solid #c4c1c1;
}
.navbar .container .detskopMenu .buttonMenu .navBtn:hover {
  background-color: transparent;
  transition: 600ms;
  border: 2px solid #3e4fea;
  color: #000000;
  font-weight: bold;
}
.navbar .container .mobilMenu {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar .container .detskopMenu {
    display: none;
  }
  .navbar .container .mobilMenu {
    height: 20px;
    display: block;
  }
  .navbar .container .mobilMenu .navBrandContainer {
    display: flex;
    justify-content: space-between;
  }
  .navbar .container .mobilMenu .navBrandContainer i {
    font-size: 24px;
    color: #3e4fea;
  }
  .navbar .container .mobilMenu .mobilList {
    height: 0px;
    overflow: hidden;
    transition: 500ms;
  }
  .navbar .container .mobilMenu .mobilList ul {
    display: flex;
    flex-direction: column;
  }
  .navbar .container .mobilMenu .mobilList ul select {
    border: none;
    font-size: 16px;
  }
  .navbar .container .mobilMenu .mobilList .buttonMenu {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .navbar .container .mobilMenu .mobilList .buttonMenu .navBtn {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    border: 2px solid #c4c1c1;
  }
  .navbar .container .mobilMenu .mobilList .buttonMenu .navBtn:hover {
    background-color: transparent;
    transition: 600ms;
    border: 2px solid #3e4fea;
    color: #000000;
    font-weight: bold;
  }
  .navbar .container .mobilMenu .list {
    height: 150px;
    background-color: #ffffff;
  }
}
main {
  padding-top: 80px;
}
main #mainHeroSection {
  background-image: linear-gradient(to right, #384aeb 35%, #384aeb 25%, #F1F6F7 25%, #F1F6F7 25%);
}
main #mainHeroSection .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main #mainHeroSection .container .mainHeroImg {
  width: 40%;
  height: 100%;
}
main #mainHeroSection .container .mainHeroContent {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main #mainHeroSection .container .mainHeroContent h4 {
  color: #555555;
  font-size: 30px;
}
main #mainHeroSection .container .mainHeroContent h2 {
  color: #222222;
  font-size: 50px;
  font-weight: bold;
}
main #mainHeroSection .container .mainHeroContent p {
  font-size: 15px;
  color: #777777;
}
@media screen and (max-width: 768px) {
  main #mainHeroSection .container .mainHeroContent {
    gap: 10px;
  }
  main #mainHeroSection .container .mainHeroContent h4 {
    font-size: 29px;
  }
  main #mainHeroSection .container .mainHeroContent h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 542px) {
  main #mainHeroSection {
    background-image: linear-gradient(to right, #384aeb 10%, #384aeb 10%, #eceff0 10%, #eceff0 10%, #384aeb 10%, #384aeb 10%, #eceff0 10%, #eceff0 10%, #eceff0 10%, #eceff0 10%);
  }
  main #mainHeroSection .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main #mainHeroSection .container .mainHeroImg {
    display: none;
  }
  main #mainHeroSection .container .mainHeroContent {
    padding: 0 0 0 20px;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
  main #mainHeroSection .container .mainHeroContent h4 {
    color: #555555;
    font-size: 30px;
  }
  main #mainHeroSection .container .mainHeroContent h2 {
    color: #222222;
    font-size: 25px;
    font-weight: bold;
  }
  main #mainHeroSection .container .mainHeroContent p {
    font-size: 15px;
    color: #777777;
  }
}
main #mainCarusel {
  padding: 10px 0;
}
main #mainCarusel .mainCaruselContainer {
  display: flex;
  gap: 10px;
}
main #mainCarusel .mainCaruselContainer .card {
  position: relative;
}
main #mainCarusel .mainCaruselContainer .card .hoverProductName {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: 500ms;
}
main #mainCarusel .mainCaruselContainer .card .hoverProductName div {
  padding: 10px 0;
  margin-top: 50%;
  color: #FFFFFF;
  width: 60%;
  background-color: #384AEB;
}
main #mainCarusel .mainCaruselContainer .card .hoverProductName div p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  margin: 5px 0 10px 20px;
}
main #mainCarusel .mainCaruselContainer .card .hoverProductName div span {
  margin-left: 20px;
  font-size: 13px;
}
main #mainCarusel .mainCaruselContainer .card:hover .hoverProductName {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 855px) {
  main #mainCarusel .mainCaruselContainer #three {
    display: none;
  }
}
@media screen and (max-width: 542px) {
  main #mainCarusel .mainCaruselContainer #three {
    display: none;
  }
  main #mainCarusel .mainCaruselContainer #two {
    display: none;
  }
}
main #trendingProduct {
  background-color: #FDFDFD;
  padding: 10px 0;
}
main #trendingProduct .container .trendingProductHeading {
  padding: 20px 0px;
  width: 250px;
}
main #trendingProduct .container .trendingProductHeading h2 {
  font-size: 36px;
  font-weight: 600;
  font-family: "Oswald", "sanf-serif";
}
main #trendingProduct .container .trendingProductHeading p {
  font-size: 14px;
  color: #7B7B7B;
}
main #trendingProduct .container .trendingProductHeading hr {
  border: 1px solid #384AEB;
  width: 80px;
  height: 1px;
  float: right;
}
main #trendingProduct .container .trendingProductContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productImgDiv {
  position: relative;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productImgDiv .hoverProductBasket {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productImgDiv .hoverProductBasket .productBasketBox {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  gap: 10px;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productImgDiv .hoverProductBasket .productBasketBox i {
  padding: 10px;
  background-color: #8894FF;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productImgDiv .hoverProductBasket .productBasketBox i:hover {
  background-color: #384AEB;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productNameDiv {
  padding: 10px 0;
  text-align: center;
  color: #7B7B7B;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productNameDiv h4 {
  margin: 10px 0;
  color: #000000;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productNameDiv h4 a {
  font-family: "Oswald", "sans-serif";
  font-size: 20px;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productNameDiv h4:hover {
  color: #384AEB;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productNameDiv span {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  color: #777777;
}
main #trendingProduct .container .trendingProductContainer .cardTrend:hover .hoverProductBasket {
  height: 80px;
  width: 100%;
}
@media screen and (max-width: 855px) {
  main #trendingProduct {
    padding: 10px 0;
  }
  main #trendingProduct .container .trendingProductContainer {
    grid-template-columns: auto auto;
  }
  main #trendingProduct .container .trendingProductContainer .cardTrend .productImgDiv img {
    width: 100%;
    aspect-ratio: 1/1;
  }
}
@media screen and (max-width: 542px) {
  main #trendingProduct {
    padding: 10px 10px;
  }
  main #trendingProduct .container .trendingProductContainer {
    grid-template-columns: auto;
  }
  main #trendingProduct .container .trendingProductContainer .cardTrend .productImgDiv img {
    width: 100%;
    aspect-ratio: 1/1;
  }
}
main #bestSellers {
  background-color: #FDFDFD;
  padding: 10px 0;
}
main #bestSellers .container .bestSellersHeading {
  padding: 20px 0px;
  width: 250px;
}
main #bestSellers .container .bestSellersHeading h2 {
  font-size: 36px;
  font-weight: 600;
  font-family: "Oswald", "sanf-serif";
}
main #bestSellers .container .bestSellersHeading p {
  font-size: 14px;
  color: #7B7B7B;
}
main #bestSellers .container .bestSellersHeading hr {
  border: 1px solid #384AEB;
  width: 80px;
  height: 1px;
  float: right;
}
main #bestSellers .container .bestSellersContainer {
  display: grid;
}
main #bestSellers .container .bestSellersContainer .cardTrend .productImgDiv {
  position: relative;
}
main #bestSellers .container .bestSellersContainer .cardTrend .productImgDiv img {
  width: 100%;
  aspect-ratio: 1/1;
}
main #bestSellers .container .bestSellersContainer .cardTrend .productImgDiv .hoverProductBasket {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #bestSellers .container .bestSellersContainer .cardTrend .productImgDiv .hoverProductBasket .productBasketBox {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  gap: 10px;
}
main #bestSellers .container .bestSellersContainer .cardTrend .productImgDiv .hoverProductBasket .productBasketBox i {
  padding: 10px;
  background-color: #8894FF;
}
main #bestSellers .container .bestSellersContainer .cardTrend .productImgDiv .hoverProductBasket .productBasketBox i:hover {
  background-color: #384AEB;
}
main #bestSellers .container .bestSellersContainer .cardTrend .productNameDiv {
  padding: 10px 0;
  text-align: center;
  color: #7B7B7B;
}
main #bestSellers .container .bestSellersContainer .cardTrend .productNameDiv h4 {
  margin: 10px 0;
  color: #000000;
}
main #bestSellers .container .bestSellersContainer .cardTrend .productNameDiv h4 a {
  font-family: "Oswald", "sans-serif";
  font-size: 20px;
}
main #bestSellers .container .bestSellersContainer .cardTrend .productNameDiv h4:hover {
  color: #384AEB;
}
main #bestSellers .container .bestSellersContainer .cardTrend .productNameDiv span {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  color: #777777;
}
main #bestSellers .container .bestSellersContainer .cardTrend:hover .hoverProductBasket {
  height: 80px;
  width: 100%;
}
main #percentSection {
  padding: 100px 0;
  background-image: url("../imgs/parallax-bg.png.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main #percentSection h2 {
  margin: 0 0 25px;
  font-size: 50px;
  font-weight: bold;
}
main #percentSection h4 {
  font-family: "Oswald", sans-serif;
  margin: 0 0 8px;
  font-size: 30px;
  color: #222222;
  font-weight: bold;
}
main #percentSection p {
  margin: 0 0 16px;
  font-size: 15px;
  color: #777777;
}
@media screen and (max-width: 768px) {
  main #percentSection {
    text-align: center;
  }
  main #percentSection h2 {
    font-size: 35px;
  }
}

footer {
  color: aliceblue;
  background: #000428; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000428, #004e92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#singleProduct .container .pageNotification {
  padding: 25px 0;
  background-color: #EFF5F8;
  text-align: center;
}
#singleProduct .container .pageNotification p {
  font-weight: bold;
}
#singleProduct .container .pageNotification p span {
  font-weight: 500;
  color: #384AEB;
}
#singleProduct .container .productDetails {
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#singleProduct .container .productDetails .productImageArea {
  width: 50%;
}
#singleProduct .container .productDetails .productImageArea img {
  width: 100%;
  aspect-ratio: 1/1;
}
#singleProduct .container .productDetails .productDescriptonArea {
  width: 40%;
}
#singleProduct .container .productDetails .productDescriptonArea .productDescripton {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#singleProduct .container .productDetails .productDescriptonArea .productDescripton h3 {
  font-size: 24px;
  font-family: "Oswald", "sans-serif";
  font-weight: bold;
}
#singleProduct .container .productDetails .productDescriptonArea .productDescripton .productCategory {
  color: #807777;
  font-size: 14px;
}
#singleProduct .container .productDetails .productDescriptonArea .productDescripton .rating {
  color: #E3C01C;
}
#singleProduct .container .productDetails .productDescriptonArea .productDescripton .productPrice p {
  font-size: 24px;
  font-weight: 600;
  color: #384AEB;
}
#singleProduct .container .productDetails .productDescriptonArea .productDescripton .productPrice p span {
  color: #807777;
  font-size: 20px;
  font-weight: 500;
  text-decoration: line-through;
}
#singleProduct .container .productDetails .productDescriptonArea .productDescripton .productInformation {
  color: #807777;
}
#singleProduct .container .productDetails .productDescriptonArea .productDescripton hr {
  border: 1px solid #DEE2E6;
}
#singleProduct .container .productDetails .productDescriptonArea .productDescripton .productButton {
  color: #807777;
  display: flex;
  gap: 10px;
  align-items: center;
}
#singleProduct .container .productDetails .productDescriptonArea .productDescripton .productButton input {
  text-align: center;
  height: 30px;
  border: 1px solid #DEE2E6;
  border-radius: 5px;
}
#singleProduct .container .productDetails .productDescriptonArea .productDescripton .productButton p {
  font-size: 16px;
}
#singleProduct .container .comments_specification {
  border: 2px solid #EFF5F8;
}
#singleProduct .container .comments_specification .comments_specification_heading {
  padding: 15px 0;
  background-color: #EFF5F8;
  display: flex;
  justify-content: center;
  gap: 20px;
}
#singleProduct .container .comments_specification .comments_specification_heading p {
  font-family: "Oswald", "sanf-serif";
  transition: 500ms;
}
#singleProduct .container .comments_specification .comments_specification_heading p:hover {
  color: #384AEB;
}
#singleProduct .container .comments_specification_content .specification ul {
  padding: 10px 20px;
}
#singleProduct .container .comments_specification_content .specification ul li {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DEE2E6;
}
#singleProduct .container .comments_specification_content .specification ul li p, #singleProduct .container .comments_specification_content .specification ul li span {
  color: #807777;
  font-family: "Oswald", "sanf-serif";
}
#singleProduct .container .comments_specification_content .comments {
  padding: 10px 20px;
}
#singleProduct .container .comments_specification_content .comments form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#singleProduct .container .comments_specification_content .comments form p {
  font-family: "Oswald", "sanf-serif";
}
#singleProduct .container .comments_specification_content .comments form input {
  height: 30px;
  border: 1px solid #DEE2E6;
  width: 60%;
}
#singleProduct .container .comments_specification_content .comments form button {
  border: none;
  height: 38px;
  width: 154px;
}
#singleProduct .container .comments_specification_content .comments .productComments {
  margin: 15px 0;
}
#singleProduct .container .comments_specification_content .comments .productComments .person {
  display: flex;
  align-items: center;
  gap: 10px;
}
#singleProduct .container .comments_specification_content .comments .productComments .person p {
  font-size: 16px;
  font-family: "Oswald", "sanf-serif";
}
#singleProduct .container .comments_specification_content .comments .productComments .person span {
  font-size: 13px;
  font-family: "Oswald", "sanf-serif";
  color: #807777;
}
#singleProduct .container .comments_specification_content .comments .productComments .prodcutComments {
  color: #807777;
}