@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Roboto:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol,
li,
a {
  list-style: none;
  color: inherit;
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0px;
}

.btn {
  transition: 600ms;
  height: 48px;
  width: 154px;
  border-radius: 30px;
  background-color: #384AEB;
  border: 1px solid #384AEB;
  color: #ffffff;
}

.btn:hover {
  background-color: transparent;
  transition: 600ms;
  border: 1px solid #384AEB;
  color: #000000;
  font-weight: bold;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #ffffff;
}
.navbar .container .detskopMenu {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .container .detskopMenu ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
.navbar .container .detskopMenu ul li {
  transition: 350ms;
}
.navbar .container .detskopMenu ul li a {
  font-weight: bold;
}
.navbar .container .detskopMenu ul li:hover {
  color: #384aeb;
}
.navbar .container .detskopMenu ul select {
  border: none;
  font-size: 16px;
}
.navbar .container .detskopMenu .buttonMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.navbar .container .detskopMenu .buttonMenu .navBtn {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #EEEEEE;
}
.navbar .container .detskopMenu .buttonMenu .navBtn a {
  font-weight: bold;
}
.navbar .container .detskopMenu .buttonMenu .navBtn:hover {
  background-color: transparent;
  transition: 600ms;
  border: 1px solid #3e4fea;
  color: #000000;
  font-weight: bold;
}
.navbar .container .mobilMenu {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar .container .detskopMenu {
    display: none;
  }
  .navbar .container .mobilMenu {
    height: 20px;
    display: block;
  }
  .navbar .container .mobilMenu .navBrandContainer {
    display: flex;
    justify-content: space-between;
  }
  .navbar .container .mobilMenu .navBrandContainer i {
    font-size: 24px;
    color: #3e4fea;
  }
  .navbar .container .mobilMenu .mobilList {
    height: 0px;
    overflow: hidden;
    transition: 500ms;
  }
  .navbar .container .mobilMenu .mobilList ul {
    display: flex;
    flex-direction: column;
  }
  .navbar .container .mobilMenu .mobilList ul li {
    transition: 350ms;
  }
  .navbar .container .mobilMenu .mobilList ul li a {
    font-weight: bold;
  }
  .navbar .container .mobilMenu .mobilList ul li:hover {
    color: #384aeb;
  }
  .navbar .container .mobilMenu .mobilList ul select {
    border: none;
    font-size: 16px;
  }
  .navbar .container .mobilMenu .mobilList .buttonMenu {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .navbar .container .mobilMenu .mobilList .buttonMenu .navBtn {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #EEEEEE;
    transition: 600ms;
  }
  .navbar .container .mobilMenu .mobilList .buttonMenu .navBtn a {
    font-weight: bold;
  }
  .navbar .container .mobilMenu .mobilList .buttonMenu .navBtn:hover {
    background-color: transparent;
    border: 1px solid #3e4fea;
    color: #000000;
    font-weight: bold;
  }
  .navbar .container .mobilMenu .list {
    height: 150px;
    background-color: #ffffff;
  }
}
main {
  padding-top: 80px;
}
main #mainHeroSection {
  background-image: linear-gradient(to right, #384aeb 35%, #384aeb 25%, #f1f6f7 25%, #f1f6f7 25%);
}
main #mainHeroSection .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main #mainHeroSection .container .mainHeroImg {
  width: 40%;
  height: 100%;
}
main #mainHeroSection .container .mainHeroContent {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main #mainHeroSection .container .mainHeroContent h4 {
  color: #555555;
  font-size: 30px;
}
main #mainHeroSection .container .mainHeroContent h2 {
  color: #222222;
  font-size: 50px;
  font-weight: bold;
}
main #mainHeroSection .container .mainHeroContent p {
  font-size: 15px;
  color: #777777;
}
@media screen and (max-width: 768px) {
  main #mainHeroSection .container .mainHeroContent {
    gap: 10px;
  }
  main #mainHeroSection .container .mainHeroContent h4 {
    font-size: 29px;
  }
  main #mainHeroSection .container .mainHeroContent h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 542px) {
  main #mainHeroSection {
    background-image: linear-gradient(to right, #384aeb 10%, #384aeb 10%, #eceff0 10%, #eceff0 10%, #384aeb 10%, #384aeb 10%, #eceff0 10%, #eceff0 10%, #eceff0 10%, #eceff0 10%);
  }
  main #mainHeroSection .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main #mainHeroSection .container .mainHeroImg {
    display: none;
  }
  main #mainHeroSection .container .mainHeroContent {
    padding: 0 0 0 20px;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
  main #mainHeroSection .container .mainHeroContent h4 {
    color: #555555;
    font-size: 30px;
  }
  main #mainHeroSection .container .mainHeroContent h2 {
    color: #222222;
    font-size: 25px;
    font-weight: bold;
  }
  main #mainHeroSection .container .mainHeroContent p {
    font-size: 15px;
    color: #777777;
  }
}
main #mainCarusel {
  padding: 10px 0;
}
main #mainCarusel .mainCaruselContainer .card {
  margin: 0 10px;
  position: relative;
}
main #mainCarusel .mainCaruselContainer .card .hoverProductName {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: 500ms;
}
main #mainCarusel .mainCaruselContainer .card .hoverProductName div {
  padding: 10px 0;
  margin-top: 50%;
  color: #ffffff;
  width: 60%;
  background-color: #384aeb;
}
main #mainCarusel .mainCaruselContainer .card .hoverProductName div p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  margin: 5px 0 10px 20px;
}
main #mainCarusel .mainCaruselContainer .card .hoverProductName div span {
  margin-left: 20px;
  font-size: 13px;
}
main #mainCarusel .mainCaruselContainer .card:hover .hoverProductName {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 855px) {
  main #mainCarusel .mainCaruselContainer #three {
    display: none;
  }
}
@media screen and (max-width: 542px) {
  main #mainCarusel .mainCaruselContainer #three {
    display: none;
  }
  main #mainCarusel .mainCaruselContainer #two {
    display: none;
  }
}
main #trendingProduct {
  background-color: #fdfdfd;
  padding: 10px 0;
}
main #trendingProduct .container .trendingProductHeading {
  padding: 20px 0px;
  width: 250px;
}
main #trendingProduct .container .trendingProductHeading h2 {
  font-size: 36px;
  font-weight: 600;
  font-family: "Oswald", "sanf-serif";
}
main #trendingProduct .container .trendingProductHeading p {
  font-size: 14px;
  color: #7b7b7b;
}
main #trendingProduct .container .trendingProductHeading hr {
  border: 1px solid #384aeb;
  width: 80px;
  height: 1px;
  float: right;
}
main #trendingProduct .container .trendingProductContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productImgDiv {
  position: relative;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productImgDiv .hoverProductBasket {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productImgDiv .hoverProductBasket .productBasketBox {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  gap: 10px;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productImgDiv .hoverProductBasket .productBasketBox div {
  background-color: #8894ff;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productImgDiv .hoverProductBasket .productBasketBox div i {
  padding: 10px;
  color: #ffffff;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productImgDiv .hoverProductBasket .productBasketBox div:hover {
  background-color: #384aeb;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productImgDiv .hoverProductBasket .productBasketBox .addWish {
  background-color: rgba(255, 0, 0, 0.8);
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productImgDiv .hoverProductBasket .productBasketBox .addWish:hover {
  background-color: #ff0000;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productImgDiv .hoverProductBasket .productBasketBox .removeWish {
  background-color: #8894ff;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productImgDiv .hoverProductBasket .productBasketBox .removeWish i {
  padding: 10px;
  color: #ffffff;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productImgDiv .hoverProductBasket .productBasketBox .removeWish:hover {
  background-color: #384aeb;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productNameDiv {
  padding: 10px 0;
  text-align: center;
  color: #7b7b7b;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productNameDiv h4 {
  margin: 10px 0;
  color: #000000;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productNameDiv h4 a {
  font-family: "Oswald", "sans-serif";
  font-size: 20px;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productNameDiv h4:hover {
  color: #384aeb;
}
main #trendingProduct .container .trendingProductContainer .cardTrend .productNameDiv span {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  color: #777777;
}
main #trendingProduct .container .trendingProductContainer .cardTrend:hover .hoverProductBasket {
  height: 80px;
  width: 100%;
}
@media screen and (max-width: 855px) {
  main #trendingProduct {
    padding: 10px 0;
  }
  main #trendingProduct .container .trendingProductContainer {
    grid-template-columns: auto auto;
  }
  main #trendingProduct .container .trendingProductContainer .cardTrend .productImgDiv img {
    width: 100%;
    aspect-ratio: 1/1;
  }
}
@media screen and (max-width: 542px) {
  main #trendingProduct {
    padding: 10px 10px;
  }
  main #trendingProduct .container .trendingProductContainer {
    grid-template-columns: auto;
  }
  main #trendingProduct .container .trendingProductContainer .cardTrend .productImgDiv img {
    width: 100%;
    aspect-ratio: 1/1;
  }
}
main #bestSellers {
  background-color: #fdfdfd;
  padding: 10px 0;
}
main #bestSellers .container .bestSellersHeading {
  padding: 20px 0px;
  width: 180px;
}
main #bestSellers .container .bestSellersHeading h2 {
  font-size: 36px;
  font-weight: 600;
  font-family: "Oswald", "sanf-serif";
}
main #bestSellers .container .bestSellersHeading p {
  font-size: 14px;
  color: #7b7b7b;
}
main #bestSellers .container .bestSellersHeading hr {
  border: 1px solid #384aeb;
  width: 80px;
  height: 1px;
  float: right;
}
main #bestSellers .container .bestSellersContainer {
  display: grid;
}
main #bestSellers .container .bestSellersContainer .cardTrend {
  margin: 0 10px;
}
main #bestSellers .container .bestSellersContainer .cardTrend .productImgDiv {
  position: relative;
}
main #bestSellers .container .bestSellersContainer .cardTrend .productImgDiv img {
  width: 100%;
  aspect-ratio: 1/1;
}
main #bestSellers .container .bestSellersContainer .cardTrend .productImgDiv .hoverProductBasket {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #bestSellers .container .bestSellersContainer .cardTrend .productImgDiv .hoverProductBasket .productBasketBox {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  gap: 10px;
}
main #bestSellers .container .bestSellersContainer .cardTrend .productImgDiv .hoverProductBasket .productBasketBox i {
  padding: 10px;
  background-color: #8894ff;
}
main #bestSellers .container .bestSellersContainer .cardTrend .productImgDiv .hoverProductBasket .productBasketBox i:hover {
  background-color: #384aeb;
}
main #bestSellers .container .bestSellersContainer .cardTrend .productNameDiv {
  padding: 10px 0;
  text-align: center;
  color: #7b7b7b;
}
main #bestSellers .container .bestSellersContainer .cardTrend .productNameDiv h4 {
  margin: 10px 0;
  color: #000000;
}
main #bestSellers .container .bestSellersContainer .cardTrend .productNameDiv h4 a {
  font-family: "Oswald", "sans-serif";
  font-size: 20px;
}
main #bestSellers .container .bestSellersContainer .cardTrend .productNameDiv h4:hover {
  color: #384aeb;
}
main #bestSellers .container .bestSellersContainer .cardTrend .productNameDiv span {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  color: #777777;
}
main #bestSellers .container .bestSellersContainer .cardTrend:hover .hoverProductBasket {
  height: 80px;
  width: 100%;
}
main #percentSection {
  padding: 100px 0;
  background-image: url("../imgs/parallax-bg.png.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main #percentSection h2 {
  margin: 0 0 25px;
  font-size: 50px;
  font-weight: bold;
}
main #percentSection h4 {
  font-family: "Oswald", sans-serif;
  margin: 0 0 8px;
  font-size: 30px;
  color: #222222;
  font-weight: bold;
}
main #percentSection p {
  margin: 0 0 16px;
  font-size: 15px;
  color: #777777;
}
@media screen and (max-width: 768px) {
  main #percentSection {
    text-align: center;
  }
  main #percentSection h2 {
    font-size: 35px;
  }
}

.pageNotification {
  padding: 25px 0;
  background-color: #eff5f8;
  text-align: center;
}
.pageNotification p {
  font-weight: bold;
}
.pageNotification p span {
  font-weight: bold;
  color: #384aeb;
  font-family: "Oswald", "sans-serif";
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: aliceblue;
  flex-direction: column;
  gap: 20px;
  background: #000428; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000428, #004e92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
footer i {
  margin: 0 10px;
  font-size: 24px;
}

#singleProduct .pageNotification {
  padding: 25px 0;
  background-color: #eff5f8;
  text-align: center;
}
#singleProduct .pageNotification p {
  font-weight: bold;
}
#singleProduct .pageNotification p span {
  font-weight: bold;
  color: #384aeb;
  font-family: "Oswald", "sans-serif";
}
#singleProduct .container .productDetails {
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#singleProduct .container .productDetails .productImageArea {
  width: 50%;
}
#singleProduct .container .productDetails .productImageArea img {
  width: 100%;
  aspect-ratio: 1/1;
}
#singleProduct .container .productDetails .productDescriptonArea {
  width: 40%;
}
#singleProduct .container .productDetails .productDescriptonArea .productDescripton {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#singleProduct .container .productDetails .productDescriptonArea .productDescripton h3 {
  font-size: 24px;
  font-family: "Oswald", "sans-serif";
  font-weight: bold;
}
#singleProduct .container .productDetails .productDescriptonArea .productDescripton .productCategory {
  color: #807777;
  font-size: 14px;
}
#singleProduct .container .productDetails .productDescriptonArea .productDescripton .rating {
  color: #e3c01c;
}
#singleProduct .container .productDetails .productDescriptonArea .productDescripton .productPrice p {
  font-size: 24px;
  font-weight: 600;
  color: #384aeb;
}
#singleProduct .container .productDetails .productDescriptonArea .productDescripton .productPrice p span {
  color: #807777;
  font-size: 20px;
  font-weight: 500;
  text-decoration: line-through;
}
#singleProduct .container .productDetails .productDescriptonArea .productDescripton .productInformation {
  color: #807777;
}
#singleProduct .container .productDetails .productDescriptonArea .productDescripton hr {
  border: 1px solid #dee2e6;
}
#singleProduct .container .productDetails .productDescriptonArea .productDescripton .productButton {
  color: #807777;
  display: flex;
  gap: 10px;
  align-items: center;
}
#singleProduct .container .productDetails .productDescriptonArea .productDescripton .productButton input {
  text-align: center;
  height: 30px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}
#singleProduct .container .productDetails .productDescriptonArea .productDescripton .productButton p {
  font-size: 16px;
}
#singleProduct .container .productDetails .productDescriptonArea .productDescripton .productButton i {
  padding: 15px;
  background-color: #E8F0F2;
  color: #000;
  border-radius: 5px;
}
#singleProduct .container .comments_specification {
  border: 2px solid #eff5f8;
}
#singleProduct .container .comments_specification .comments_specification_heading {
  padding: 15px 0;
  background-color: #eff5f8;
  display: flex;
  justify-content: center;
  gap: 20px;
}
#singleProduct .container .comments_specification .comments_specification_heading p {
  font-family: "Oswald", "sanf-serif";
  transition: 500ms;
}
#singleProduct .container .comments_specification .comments_specification_heading p:hover {
  color: #384aeb;
}
#singleProduct .container .comments_specification .comments_specification_content .specification ul {
  padding: 10px 20px;
}
#singleProduct .container .comments_specification .comments_specification_content .specification ul li {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
}
#singleProduct .container .comments_specification .comments_specification_content .specification ul li p,
#singleProduct .container .comments_specification .comments_specification_content .specification ul li span {
  color: #807777;
  font-family: "Oswald", "sanf-serif";
}
#singleProduct .container .comments_specification .comments_specification_content .comments {
  display: none;
  padding: 10px 20px;
}
#singleProduct .container .comments_specification .comments_specification_content .comments form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#singleProduct .container .comments_specification .comments_specification_content .comments form p {
  font-family: "Oswald", "sanf-serif";
}
#singleProduct .container .comments_specification .comments_specification_content .comments form input {
  height: 30px;
  border: 1px solid #dee2e6;
  width: 60%;
}
#singleProduct .container .comments_specification .comments_specification_content .comments form button {
  border: none;
  height: 38px;
  width: 154px;
}
#singleProduct .container .comments_specification .comments_specification_content .comments .productComments {
  margin: 15px 0;
}
#singleProduct .container .comments_specification .comments_specification_content .comments .productComments .person {
  display: flex;
  align-items: center;
  gap: 10px;
}
#singleProduct .container .comments_specification .comments_specification_content .comments .productComments .person p {
  font-size: 16px;
  font-family: "Oswald", "sanf-serif";
}
#singleProduct .container .comments_specification .comments_specification_content .comments .productComments .person span {
  font-size: 13px;
  font-family: "Oswald", "sanf-serif";
  color: #807777;
}
#singleProduct .container .comments_specification .comments_specification_content .comments .productComments .prodcutComments {
  color: #807777;
}
#singleProduct .container .comments_specification .comments_specification_content .comments .productComments .reply {
  border: 1px solid #807777;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  padding: 5px 0;
}
#singleProduct .container .comments_specification .comments_specification_content .comments .productComments .reply i {
  color: #384aeb;
}
#singleProduct .container .comments_specification .comments_specification_content .comments hr {
  border: 1px solid #384aeb;
}

@media screen and (max-width: 768px) {
  #singleProduct .container .productDetails {
    padding: 0 20px;
    flex-direction: column;
  }
  #singleProduct .container .productDetails .productImageArea {
    width: 100%;
  }
  #singleProduct .container .productDetails .productDescriptonArea {
    width: 100%;
  }
}
.pageNotification {
  padding: 25px 0;
  background-color: #eff5f8;
  text-align: center;
}
.pageNotification p {
  font-weight: bold;
}
.pageNotification p span {
  font-weight: bold;
  color: #384aeb;
  font-family: "Oswald", "sans-serif";
}

#productCategory {
  background-color: #fdfdfd;
  padding: 10px 0;
}
#productCategory .container .productCategoryContainer {
  display: flex;
  justify-content: space-between;
}
#productCategory .container .productCategoryContainer .browseCardCategory {
  width: 20%;
}
#productCategory .container .productCategoryContainer .browseCardCategory .browseCategory,
#productCategory .container .productCategoryContainer .browseCardCategory .productFilters {
  margin-bottom: 20px;
  background-color: #f1f6f7;
  color: #777777;
}
#productCategory .container .productCategoryContainer .browseCardCategory .browseCategory div,
#productCategory .container .productCategoryContainer .browseCardCategory .productFilters div {
  font-size: 18px;
  font-family: "Oswald", "sans-serif";
  padding: 10px 0px 10px 10px;
  color: #ffffff;
  background-color: #384aeb;
}
#productCategory .container .productCategoryContainer .browseCardCategory .browseCategory p,
#productCategory .container .productCategoryContainer .browseCardCategory .productFilters p {
  margin-bottom: 10px;
  color: #000000;
}
#productCategory .container .productCategoryContainer .browseCardCategory .browseCategory ul,
#productCategory .container .productCategoryContainer .browseCardCategory .productFilters ul {
  padding: 10px 0;
  margin-left: 10px;
}
#productCategory .container .productCategoryContainer .browseCardCategory .browseCategory ul li,
#productCategory .container .productCategoryContainer .browseCardCategory .productFilters ul li {
  margin-bottom: 10px;
}
#productCategory .container .productCategoryContainer .browseCardCategory .browseCategory hr,
#productCategory .container .productCategoryContainer .browseCardCategory .productFilters hr {
  border: 1px solid #eeeeee;
}
#productCategory .container .productCategoryContainer .cardTrendContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  width: 75%;
}
#productCategory .container .productCategoryContainer .cardTrendContainer .cardTrend img {
  width: 100%;
}
#productCategory .container .productCategoryContainer .cardTrendContainer .cardTrend .productImgDiv {
  position: relative;
}
#productCategory .container .productCategoryContainer .cardTrendContainer .cardTrend .productImgDiv .hoverProductBasket {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
#productCategory .container .productCategoryContainer .cardTrendContainer .cardTrend .productImgDiv .hoverProductBasket .productBasketBox {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  gap: 10px;
}
#productCategory .container .productCategoryContainer .cardTrendContainer .cardTrend .productImgDiv .hoverProductBasket .productBasketBox i {
  padding: 10px;
  background-color: #8894ff;
}
#productCategory .container .productCategoryContainer .cardTrendContainer .cardTrend .productImgDiv .hoverProductBasket .productBasketBox i:hover {
  background-color: #384aeb;
}
#productCategory .container .productCategoryContainer .cardTrendContainer .cardTrend .productNameDiv {
  padding: 10px 0;
  text-align: center;
  color: #7b7b7b;
}
#productCategory .container .productCategoryContainer .cardTrendContainer .cardTrend .productNameDiv h4 {
  margin: 10px 0;
  color: #000000;
}
#productCategory .container .productCategoryContainer .cardTrendContainer .cardTrend .productNameDiv h4 a {
  font-family: "Oswald", "sans-serif";
  font-size: 20px;
}
#productCategory .container .productCategoryContainer .cardTrendContainer .cardTrend .productNameDiv h4:hover {
  color: #384aeb;
}
#productCategory .container .productCategoryContainer .cardTrendContainer .cardTrend .productNameDiv span {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  color: #777777;
}
#productCategory .container .productCategoryContainer .cardTrendContainer .cardTrend:hover .hoverProductBasket {
  height: 80px;
  width: 100%;
}

@media screen and (max-width: 855px) {
  #productCategory {
    padding: 10px 15px;
  }
  #productCategory .container .productCategoryContainer .browseCardCategory {
    width: 35%;
  }
  #productCategory .container .productCategoryContainer .cardTrendContainer {
    width: 60%;
    grid-template-columns: auto auto;
  }
  #productCategory .container .productCategoryContainer .cardTrendContainer .cardTrend .productImgDiv img {
    width: 100%;
    aspect-ratio: 1/1;
  }
}
@media screen and (max-width: 542px) {
  #productCategory {
    padding: 10px 15px;
  }
  #productCategory .container .productCategoryContainer {
    flex-direction: column;
  }
  #productCategory .container .productCategoryContainer .browseCardCategory {
    width: 100%;
  }
  #productCategory .container .productCategoryContainer .cardTrendContainer {
    width: 100%;
    grid-template-columns: auto;
  }
  #productCategory .container .productCategoryContainer .cardTrendContainer .cardTrend .productImgDiv img {
    width: 100%;
    aspect-ratio: 1/1;
  }
}
#register {
  background-color: #fbfbfc;
}
#register .pageNotification {
  padding: 25px 0;
  background-color: #eff5f8;
  text-align: center;
}
#register .pageNotification p {
  font-weight: bold;
}
#register .pageNotification p span {
  font-weight: bold;
  color: #384aeb;
  font-family: "Oswald", "sans-serif";
}
#register .container .registerContainer {
  height: 500px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#register .container .registerContainer .loginNow {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #384aeb;
  color: #ffffff;
  padding: 0 50px;
}
#register .container .registerContainer .loginNow h2 {
  font-family: "Oswald", "sans-serif";
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}
#register .container .registerContainer .loginNow p {
  text-align: center;
  max-width: 390px;
  margin-bottom: 28px;
}
#register .container .registerContainer .loginNow .loginBtn {
  border: 1px solid #ffffff;
}
#register .container .registerContainer .loginNow .loginBtn:hover {
  background-color: #c5322d;
  border: none;
  color: #ffffff;
}
#register .container .registerContainer .createAccount {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#register .container .registerContainer .createAccount h2 {
  font-family: "Oswald", "sans-serif";
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}
#register .container .registerContainer .createAccount form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#register .container .registerContainer .createAccount form input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #cccccc;
}
#register .container .registerContainer .createAccount form button {
  height: 40px;
  background-color: #c5322d;
  border: none;
  color: #ffffff;
  font-weight: bold;
}
#register .container .registerContainer .createAccount form div,
#register .container .registerContainer .createAccount form a {
  padding: 0 10px;
  color: #777777;
}
#register .container .registerContainer .createAccount form a {
  text-align: center;
}

@media screen and (max-width: 768px) {
  #register {
    background-color: #ffffff;
  }
  #register .container .registerContainer {
    height: auto;
    flex-direction: column;
    padding: 0 10px;
  }
  #register .container .registerContainer .loginNow {
    width: 100%;
    padding: 50px 50px;
  }
  #register .container .registerContainer .createAccount {
    width: 100%;
    padding: 50px;
  }
  #register .container .registerContainer .createAccount form {
    width: 100%;
  }
}
.mainCaruselContainer {
  position: relative;
}
.mainCaruselContainer .slick-prev,
.mainCaruselContainer .slick-next {
  background-color: #384aeb;
  color: white;
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 1;
  top: 47%;
  border: none;
  border-radius: 50%;
  /* position: absolute;
      display: block;
      height: 20px;
      width: 30px;
      line-height: 0px;
      font-size: 0px;
      cursor: pointer;
      background: transparent;
      color: transparent;
      top: 50%;
      margin-top: -10px;
      padding: 0;
      border: none;
      outline: none; */
}
.mainCaruselContainer .slick-prev i,
.mainCaruselContainer .slick-next i {
  font-size: 20px;
}
.mainCaruselContainer .slick-prev {
  left: 0;
}
.mainCaruselContainer .slick-next {
  right: 0;
}

.bestSellersContainer {
  position: relative;
}
.bestSellersContainer .slick-prev,
.bestSellersContainer .slick-next {
  background-color: transparent;
  color: white;
  height: 20px;
  width: 50px;
  position: absolute;
  z-index: 1;
  bottom: 0%;
  border: none;
}
.bestSellersContainer .slick-prev i,
.bestSellersContainer .slick-next i {
  font-size: 24px;
  color: #384aeb;
}
.bestSellersContainer .slick-next {
  left: 50%;
}
.bestSellersContainer .slick-prev {
  right: 50%;
}

.container .wishlistHeading {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 2px solid #cccccc;
}
.container .wishlistHeading h2 {
  font-size: 24px;
  font-family: "Oswald", "sans-serif";
}
.container .wishlistHeading p, .container .wishlistHeading span {
  font-family: "Oswald", "sans-serif";
  font-size: 18px;
}
.container .wishlist_container h1 {
  font-size: 18px;
  font-weight: bold;
}
.container .wishlist_container button {
  border: none;
  color: #ffffff;
  height: 30px;
  background-color: transparent;
}
.container .wishlist_container button i {
  color: #384aeb;
  font-size: 24px;
}
.container .wishlist_container p {
  font-weight: bold;
}
.container .wishContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #eeeeee;
}
.container .img_div {
  width: 80px;
  height: 80px;
}

.basket_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eeeeee;
  margin: 10px;
}
.basket_item img {
  height: 80px;
  width: 80px;
}
.basket_item h3 {
  font-family: "Oswald", "sans-serif";
  font-size: 20x;
}
.basket_item span {
  font-weight: bold;
}
.basket_item button {
  border: none;
  background-color: transparent;
  color: #384aeb;
}
.basket_item button i {
  font-size: 24px;
}
.basket_item .quantity {
  display: flex;
  gap: 5px;
  align-items: center;
}
.basket_item .quantity button {
  background-color: transparent;
  border: none;
  color: #384aeb;
  font-size: 24px;
  font-weight: bold;
}

.adminNav {
  position: fixed;
  width: 75%;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  display: flex;
  align-items: center;
  left: 25%;
  height: 80px;
  background-color: #ffffff;
}
.adminNav .container .detskopMenu {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.adminNav .container .detskopMenu ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
.adminNav .container .detskopMenu ul li {
  transition: 350ms;
}
.adminNav .container .detskopMenu ul li a {
  font-weight: bold;
}
.adminNav .container .detskopMenu ul li:hover {
  color: #384aeb;
}
.adminNav .container .detskopMenu ul select {
  border: none;
  font-size: 16px;
}
.adminNav .container .detskopMenu .buttonMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.adminNav .container .detskopMenu .buttonMenu .navBtn {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #eeeeee;
}
.adminNav .container .detskopMenu .buttonMenu .navBtn a {
  font-weight: bold;
}
.adminNav .container .detskopMenu .buttonMenu .navBtn:hover {
  background-color: transparent;
  transition: 600ms;
  border: 1px solid #3e4fea;
  color: #000000;
  font-weight: bold;
}
.adminNav .container .mobilMenu {
  display: none;
}

@media screen and (max-width: 768px) {
  .adminNav {
    left: 100px;
  }
  .adminNav .container .detskopMenu {
    display: none;
  }
  .adminNav .container .mobilMenu {
    height: 20px;
    display: block;
  }
  .adminNav .container .mobilMenu .navBrandContainer {
    display: flex;
    justify-content: space-between;
  }
  .adminNav .container .mobilMenu .navBrandContainer i {
    font-size: 24px;
    color: #3e4fea;
  }
  .adminNav .container .mobilMenu .mobilList {
    height: 0px;
    overflow: hidden;
    transition: 500ms;
  }
  .adminNav .container .mobilMenu .mobilList ul {
    display: flex;
    flex-direction: column;
  }
  .adminNav .container .mobilMenu .mobilList ul li {
    transition: 350ms;
  }
  .adminNav .container .mobilMenu .mobilList ul li a {
    font-weight: bold;
  }
  .adminNav .container .mobilMenu .mobilList ul li:hover {
    color: #384aeb;
  }
  .adminNav .container .mobilMenu .mobilList ul select {
    border: none;
    font-size: 16px;
  }
  .adminNav .container .mobilMenu .mobilList .buttonMenu {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .adminNav .container .mobilMenu .mobilList .buttonMenu .navBtn {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #eeeeee;
    transition: 600ms;
  }
  .adminNav .container .mobilMenu .mobilList .buttonMenu .navBtn a {
    font-weight: bold;
  }
  .adminNav .container .mobilMenu .mobilList .buttonMenu .navBtn:hover {
    background-color: transparent;
    border: 1px solid #3e4fea;
    color: #000000;
    font-weight: bold;
  }
  .adminNav .container .mobilMenu .list {
    height: 150px;
    background-color: #ffffff;
  }
}
.navLeft {
  padding: 40px 10px;
  color: #ffffff;
  font-weight: 600;
  width: 25%;
  background: #536976; /* fallback for old browsers */
  background: #4b6cb7; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  position: fixed;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.navLeft ul {
  color: #ffffff;
}
.navLeft ul li {
  margin: 20px 0;
}
.navLeft h2 {
  font-family: "Oswald", "sans-serif";
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .navLeft {
    padding: 40px 10px;
    color: #ffffff;
    font-weight: 600;
    width: 100px;
    background: #536976; /* fallback for old browsers */
    background: #4b6cb7; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    position: fixed;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  }
  .navLeft ul {
    color: #ffffff;
  }
  .navLeft ul li {
    margin: 20px 0;
  }
  .navLeft h2 {
    font-family: "Oswald", "sans-serif";
    font-size: 24px;
  }
}
#responsiv {
  width: 75%;
  margin-left: 25%;
}

@media screen and (max-width: 768px) {
  #responsiv {
    width: 100%;
    margin-left: 100px;
  }
}
.cardContainer {
  width: 75%;
  margin: 0 25%;
}
.cardContainer table, .cardContainer th, .cardContainer td {
  padding: 10px;
  border: 2px solid #384aeb;
  border-collapse: collapse;
}

@media screen and (max-width: 768px) {
  .cardContainer {
    width: auto;
    margin: 0 auto;
    padding-left: 100px;
  }
  .cardContainer table, .cardContainer th, .cardContainer td {
    padding: 0px;
    border: 2px solid #384aeb;
    border-collapse: collapse;
  }
  .cardContainer .productTable {
    width: 320px;
  }
}
thead th {
  font-weight: bold;
}

.formContainer form {
  padding-left: 25%;
  width: auto;
  display: flex;
  flex-direction: column;
}
.formContainer form input, .formContainer form select {
  height: 40px;
  margin: 10px 0;
  border: 2px solid #eeeeee;
  padding: 5px;
}
.formContainer form textarea {
  padding: 5px;
  border: 2px solid #eeeeee;
}
.formContainer form button {
  color: #ffffff;
  height: 40px;
  background-color: #384aeb;
  margin: 10px 0;
  border: none;
  border-radius: 20px;
}

.bg {
  background-color: yellow;
  border: 2px solid goldenrod;
  border-radius: 8px;
}

.btnClick {
  margin-top: 2px;
  color: aliceblue;
  background-color: goldenrod;
  border-radius: 3px;
  border-color: rgb(197, 197, 16);
  padding: 3px;
}

.editBtn {
  color: aliceblue;
  background-color: #4b9b37;
  border-radius: 5px;
  border-color: #4b9b37;
  padding: 3px;
}

.deleteBtn {
  color: brown;
  background-color: transparent;
  border: none;
}
.deleteBtn i {
  font-size: 24px;
}